.container{
    width: calc(100% - 120px);
    height: 500px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin: 20px 0 0 100px;
    border-radius: 15px;
    flex-direction: column;
    overflow-y: auto;
    z-index: 0;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.video-link {
    text-decoration: none;
    padding: 10px 0 10px 10px;
    border-radius: 15px;
}

.main-add{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}
